body {
  background: white;
  font-family: ubuntu;
  color: tomato;
}

section {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
}

.content {
	display: flex;
  flex-direction: column;;
  margin: 2vh 2vw 0 2vw;
  flex-wrap: wrap;
  justify-content: space-between;;
  align-items: stretch;;
  align-content: center;
}

.header, h1 {
  display: flex;
  flex: 1 0 auto;
}

.column {
	display: flex;
  flex: 1 0 auto;
	flex-direction: column;
	/*justify-content: center;*/
}

.footer {
  display: flex;
  flex: 1 0 auto;
}

.footer .ubuntu {
  font-family: ubuntu;
  font-size: 0.75em;
}

.timerpreset {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  background-color: #ccc;
  align-items: center;
  height: 20vh;
  }

.settime {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1em;
}

.showtimer {
  background-color: tomato;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}
#seconds, #colon, #minutes{
  font-size: 2em;
  color: #ccc;
}
/* start moving box */
.aaa {
  display: flex;
  flex: 1;
  background-color: tomato;
}
.sandclock-container {
  display: flex;
  flex: 1;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.hide-movingbox {
  flex: 1;
  height: 1em;
  overflow: hidden;
}

.move {
  flex: 1;
  background-color: darkseagreen;
  position: relative;
  height: 4em;
}
/* end moving box */

/* elements like buttons, text ... */
.stop {
  margin-left: 1em;
  margin-right: 1em;
}

.btn {
  flex: 1;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  color: tomato;
  /*font-size: 1em;*/
  font-weight: 600;;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
  background: #ccc;
  box-shadow:         1px 4px 6px rgba(50, 50, 50, 0.75);
  -webkit-box-shadow: 1px 4px 6px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 4px 6px rgba(50, 50, 50, 0.75);
}
.btn:active {
  background-color: tomato;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: #ccc;
}

.xxx {
  display: flex;
}

.plus, .minus {
  cursor: pointer;
  /*font-size: 1em;*/
}

.txt{
  /*font-size: 1em;*/
  padding: 0.6em;
  height: 1em;
}

/* Tabletts */
@media only screen and (min-width: 760px) {
	/*.content { max-width: 760px }*/
  .content {
  	width: 80vw;
  	margin: 2vh 10vw 0 10vw;
  }

}

/* Mittlere Monitore */
@media only screen and (min-width: 980px) {
	/*.content { max-width: 980px }*/
  .content {
  	width: 60vw;
  	margin: 2vh 20vw 0 20vw;
  }

}

/* Große Monitore */
@media only screen and (min-width: 1280px) {
  .content {
  	width: 40vw;
  	margin: 2vh 30vw 0 30vw;
  }

}
