doctype html
html
  head(lang='en')
    title freeCodeCamp pomodoro challenge
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu')
    link(rel='stylesheet', href='./css/app.css', type='text/css')
  body
    div.content
      div.header
        h1 pomodoro
      div.column
        section
          div.timerpreset
            div.settime
              span.txt adjust break minutes
              div.xxx
                span#decreaseBreakMinutes.txt.minus
                  i.fa.fa-minus(aria-hidden="true")
                span#breakminutes.txt 05
                span#increaseBreakMinutes.txt.plus
                  i.fa.fa-plus(aria-hidden="true")

            div.settime
              span.txt adjust timer minutes
              div.xxx
                span#decreaseTimerMinutes.txt.minus
                  i.fa.fa-minus(aria-hidden="true")
                span#timerminutes.txt 25
                span#increaseTimerMinutes.txt.plus
                  i.fa.fa-plus(aria-hidden="true")

        section
          div.aaa
            div.sandclock-container
              div.hide-movingbox
                div#movingMin.move

        section.showtimer
          span#minutes.txt 25
          span#colon.txt :
          span#seconds.txt 00

        section
          div.aaa
            div.sandclock-container
              div.hide-movingbox
                div#movingSec.move


        section.buttons
          div#start-button.btn start
          div#stop-button.btn.stop stop
          div#resetButton.btn reset




  script(type="text/javascript", src="js/dist/bundle.js")
