doctype html
html
  head(lang='en')
    title regex experiments
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='what rugead has learned and what I can do')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='./css/app.css', type='text/css')
  body
    h3 pomodoro

    div.show
      div.preset
        div#breakminutes.txt 5
        div#timerminutes.txt 25

      div.counter
        span#minutes.txt 00
        span#colon.txt :
        span#seconds.txt 04

      div.dial-container
        div.wedge

    div.buttons
      div#start-button.btn START
      div#stop-button.btn STOP
      div#resetButton.btn resetButton
    div.setpreset
      div#increaseTimerMinutes.btn increase timer minutes
      div#decreaseTimerMinutes.btn decrease timer minutes

      div#increaseBreakMinutes.btn increase Break Minutes
      div#decreaseBreakMinutes.btn decrease Break Minutes




  script(type="text/javascript", src="js/dist/bundle.js")
