doctype html
html
  head(lang='en')
    title regex experiments
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='what rugead has learned and what I can do')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='./css/app.css', type='text/css')
  body
    h3 pomodoro

    div#my-button MMMMM

    div#txt




  script(type="text/javascript", src="js/dist/bundle.js")
